@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
}

:root {
    --background-color: rgb(255, 246, 221);
    --text-color: black;
    --footer-color: rgb(255, 229, 178);
    --header-color: rgb(255, 252, 243);
    --section-color: rgba(255, 223, 119, 0.514);
}

body {
    background-color: var(--background-color);
}

header {
    border: 2px solid red;
    display: flex;
    background-color: var(--header-color);
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.recipe {
    display: flex;
    align-items: center;
}

.recipe > h1 {
    display: inline;
}

.desc {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.desc > ul {
    list-style: none;
    width: fit-content;
    width: 100%;
}

.desc > p {
    margin-top: 1rem;
    max-width: 50%;;
}

#logo {
    margin: 0 1rem 0 0;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    padding: 0.5rem 1.2rem 0.5rem 5rem;
    background-color: var(--section-color);
    display: block;
    max-width: 30%;
}


h1, h2, h3 {
    font-weight: 800;
    padding: 1rem 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--footer-color);
    padding: 2rem 0;
}

footer > h2 {
    margin: auto;
    flex: 1;
}

footer > ul {
    text-align: center;
    list-style: none;
}